<section id="page-title">
	<div class="container clearfix">
		<h1>Art Gallery</h1>
		<span>What will you display?</span>
	</div>
	<div class="page-title-border"></div>
</section>

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row">
				<div class="col-md-2">
					<%= link_to "Category 1", art_path(Category.first.id), class: "font-size-30" %>
				</div>
				<div class="col-md-8">
				</div>
				<div class="col-md-2">
					<%= link_to "Category 5", art_path(Category.first.id), class: "font-size-30" %>
				</div>
			</div>

			<br /><br /><br />

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
					<%= link_to "Category 2", art_path(Category.first.id), class: "font-size-30" %>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-2">
					<%= link_to "Category 4", art_path(Category.first.id), class: "font-size-30" %>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<br /><br /><br />

			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4 center">
					<%= link_to "Category 3", art_path(Category.first.id), class: "font-size-30" %>
				</div>
				<div class="col-md-4">
				</div>
			</div>

		</div>
	</div>
</section>