<section id="slider" class="boxed-slider">
	<div class="container clearfix">
		<%= render "shared/error_messages" %>
		
		<div class="home-page-title">
			<h1>Choose</h1>
		</div>
	</div>
</section>

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row">
				<div class="col-md-3">
					<article class="portfolio-item pf-illustrations">
						<div class="portfolio-image">
							<a href="#">
								<img src="/images/800550/1.jpg" alt="Locked Steel Gate">
							</a>
						</div>
						<div class="portfolio-desc center">
							
							<h3><a href="#">||Click Here||</a></h3>
							<%= link_to "Display", art_image_path(params[:id], 1), class: "button button-xlarge button-rounded" %>
							<%#= link_to "Display", art_image(params[:id], 1), class: "button button-xlarge button-rounded castme", data: { image_id: 1 } %>
							<!--  <span><a href="#">Illustrations</a></span> -->
						</div>
					</article>
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-3">
					<article class="portfolio-item pf-illustrations">
						<div class="portfolio-image">
							<a href="#">
								<img src="/images/800550/5.jpg" alt="Locked Steel Gate">
							</a>
						</div>
						<div class="portfolio-desc center">
							
							<h3><a href="#">||Better Idea||</a></h3>
							<%= link_to "Display", art_image_path(params[:id], 5), class: "button button-xlarge button-rounded" %>
							<%#= link_to "Display", art_image(params[:id], 5), class: "button button-xlarge button-rounded castme", data: { image_id: 5 } %>
							<!--  <span><a href="#">Illustrations</a></span> -->
						</div>
					</article>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3" style="margin-left: -7%">
					<article class="portfolio-item pf-illustrations">
						<div class="portfolio-image">
							<a href="#">
								<img src="/images/800550/2.jpg" alt="Locked Steel Gate">
							</a>
						</div>
						<div class="portfolio-desc center">
							
							<h3><a href="#">||CAN'T LOSE||</a></h3>
							<%= link_to "Display", art_image_path(params[:id], 2), class: "button button-xlarge button-rounded" %>
							<%#= link_to "Display", art_image(params[:id], 2), class: "button button-xlarge button-rounded castme", data: { image_id: 2 } %>
							<!--  <span><a href="#">Illustrations</a></span> -->
						</div>
					</article>
				</div>
				<div class="col-md-3" style="margin-left: 13%">
					<article class="portfolio-item pf-illustrations">
						<div class="portfolio-image">
							<a href="#">
								<img src="/images/800550/4.jpg" alt="Locked Steel Gate">
							</a>
						</div>
						<div class="portfolio-desc center">
							
							<h3><a href="#">||OH MY!!||</a></h3>
							<%= link_to "Display", art_image_path(params[:id], 4), class: "button button-xlarge button-rounded" %>
							<%#= link_to "Display", art_image(params[:id], 4), class: "button button-xlarge button-rounded castme", data: { image_id: 4 } %>
							<!--  <span><a href="#">Illustrations</a></span> -->
						</div>
					</article>
				</div>
				<div class="col-md-3">
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3" style="margin-left: 12%">
					<article class="portfolio-item pf-illustrations">
						<div class="portfolio-image">
							<a href="#">
								<img src="/images/800550/3.jpg" alt="Locked Steel Gate">
							</a>
						</div>
						<div class="portfolio-desc center">
							
							<h3><a href="#">||LAST AND BEST||</a></h3>
							<%= link_to "Display", art_image_path(params[:id], 3), class: "button button-xlarge button-rounded" %>
							<%#= link_to "Display", art_image(params[:id], 3), class: "button button-xlarge button-rounded castme", data: { image_id: 3 } %>
							<!--  <span><a href="#">Illustrations</a></span> -->
						</div>
					</article>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
			</div>

		</div>
	</div>
</section>
