<section id="page-title">
	<div class="container clearfix">
		<h1>Categories</h1>
		<span><%= @category.new_record? ? "Create Categories" : "Edit Category" %></span>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Admin</a></li>
			<li><a href="#">Categories</a></li>
			<li  class="active"><%= @category.new_record? ? "New" : "Edit" %></li>
		</ol>
	</div>
</section>
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="row">
				<%= render "shared/error_messages" %>
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading padding-20">
						</div>
					  <div class="panel-body">
					  	<%= form_for [:admin, @category] do |f| %>
					  		<div class="form-group">
					  			<%= f.label "Name" %>
					  			<%= f.text_field :name, placeholder: "Category Name", class: "sm-form-control" %>
					  		</div>

					  		<%= f.submit @category.new_record? ? "Create" : "Update", class: "btn btn-primary" %>
					  	<% end %>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>