<header id="header" class="full-header" data-sticky-class="not-dark">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			<!-- Logo
			============================================= -->
			<div id="logo">
				<!-- <a href="index.html" class="standard-logo">ELYXX</a> -->
				<!-- <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a> -->
			</div><!-- #logo end -->

			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu" style="margin-right: 35%;">
				<ul>
					<li><a href="<%= root_path %>" class="new-fonts"><div>Home</div></a></li>
					<li>
						<a href="<%= arts_path %>" class="new-fonts"><div>Gallery</div></a>
					</li>
					<li>
						<a href="<%= contact_us_path %>" class="new-fonts"><div>Contact</div></a>
					</li>
					<% if current_user.present? %>
						<li>
						<a href="#" class="new-fonts"><div>Admin</div></a>
						<ul>
							<li><a href="<%= admin_categories_path %>" class="new-fonts"><div>Categories</div></a></li>
							<li><a href="#" class="new-fonts"><div>Arts</div></a></li>
						</ul>
					</li>
						<li><%= link_to "<div>Sign Out</div>".html_safe, destroy_user_session_path, method: :delete %></li>
					<% else %>	
						<!-- <li><a href="#" data-toggle="modal" data-target="#login"><div>Login</div></a></li> -->
					<% end %>
				</ul>
			</nav><!-- #primary-menu end -->

		</div>

	</div>

</header>